<h1 style="text-align: center; background-color: blueviolet;">!!Welcome to Indicosmic Pvt Ltd!!</h1>
<h2 style="text-align: center; background-color: azure;">!!Json Pipes in angular 16!!</h2>
<h2 style="text-align: center; background-color: aquamarine;">!!Json Pipes Example!!</h2>
<div>
 {{empooyees|json}}
 <br>
 <br>
  {{empooyees|slice :1:3|json}}
  
</div>
<div style="text-align: center;background-color: aquamarine; height: 400; width: 400;">
<button (click)="printData()">Show Me</button>
</div>